*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Gabarito", sans-serif;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
    color: darkorchid;
}

.navbar__s2{
    padding: 10px;
    border: solid 1px black;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;

}

.navbar__s2 input{
    border: none;
    width: 60%;
    background-color: transparent;
}

.navbar__s2 input:focus{
      outline: none;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;

}

/*------my-learning__popup-----*/

.my-learning{
    position: relative;
    cursor:pointer;
}

.my-learning__popup{
    position: absolute;
    background-color: white;
    border: solid 1px black;
    width:80px;
    top: 150%;
    padding: 10px;
    right: 0;
    display:none;

}

.my-learning:hover .my-learning__popup{
    display: block;
}



.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-between;
}

.sale-image{

    position: relative;

}


.sale-image img{
    width: 100%;
    
}

.sale-image__ofrer{
    width: 35%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    position: absolute;
    top: 10%;
    margin: 10px;
    height: 100px;


}

.categories p{
    background-color: darkorchid;
    color: white;
    padding: 10px;
    border-radius: 40px;
}

.recomended{
    padding:10px;
}

.recomended__container{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     margin-top: 10px;
    
}

.recomended__container img{
    height: 170px;
}

.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;

}

.course-card img{
    width: 100%;
}

.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    flex-wrap: wrap;

}

.topics__container p{
    border: solid black 1px;
    padding: 10px;
    flex-basis: 25%;
    flex-grow: 1;

}

.popular{
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px; 
    
}

.container img{
    height: 170px;
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one{
    display: flex;
    gap: 10px;
    
}

.footer__one p{
    margin: 20px;
}

.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items:center;
}

@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
}

@media screen and (max-width:500px){
    .course-card{
        flex-basis: 40%;
    }

    .sale-image__ofrer{
        height: 80px;
    
    }
    
}
